    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
	}

    .main {
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
        background: linear-gradient(to right, #737DFE, #FFCAC9);
   	 }
	
	nav{
		width: 80%;
		position: sticky;
		margin: 20px auto;
		z-index: 1;
		display: flex;
		align-items: center;
	}
	
	.logo{
		flex-basis: 20%;
	}
	
	.logo img{
		width: 150px;
		position: relative;
		top: -30px;
		left: -50px;
		transform: scale(2);
	}
	
	.nav-links{
		flex: 1;
		text-align: right;
	}
	
	.nav-links ul li{
		list-style: none;
		display: inline-block;
		margin: 0 20px;
		position: relative;
		top: -30px;
		right: -50px;
	}
	
	.nav-links ul li a{
		color: #fff;
		text-decoration: none;
	}
	
	.information{
		width: 1000px;
		height: 1000px;
		position: absolute;
		top: 50%;
		left: -10%;
		transform: translateY(-50%);
	}
	
	#circle{
		width: 1000px;
		height: 1000px;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 50%;
		transform: rotate(0deg);
		transition: 1s;
	}
	
	.feature img{
		width: 70px;
	}
	
	.feature{
		position: absolute;
		display: flex;
		color: #fff;
	}
	
	.feature div{
		margin-left: 30px;
	}
	
	.feature div p{
		margin-top: 8px;
	}
	
	.one{
		top: 450px;
		right: 50px;
	}
	
	.two{
		top: 150px;
		left: 350px;
		transform: rotate(-90deg);
	}
	
	.three{
		bottom: 450px;
		left: 50px;
		transform: rotate(-180deg);
	}
	
	.four{
		bottom: 150px;
		right: 350px;
		transform: rotate(-270deg);
	}
	
	.mobile{
		width: 250px;
		position: absolute;
		top: 50%;
		left: 27%;
		transform: translateY(-50%);
		z-index: 1;
		border-radius: 10px;
	}
	
	.controls{
		position: absolute;
		right: 10%;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
	}
	
	.controls h3{
		margin: 15px 0;
		color: #fff;
	}
	
	
	#upBtn{
		width: 15px;
		cursor: pointer;
	}
	
	#downBtn{
		width: 15px;
		cursor: pointer;
		transform: rotate(180deg);
	}
	
	.overlay{
		width: 0;
		height: 0;
		border-top: 500px solid #fff;
		border-right: 500px solid transparent;
		border-bottom: 500px solid #fff;
		border-left: 500px solid #fff;
		position: absolute;
		top: 0;
		left: 0;
	}
	
	a {
		color: #fff;
	}
  
	.container h1{
		position: absolute;
		bottom: 10%;
		left: 43%;
		transform: translate(100%, 0%);
		color: #fff;
		font-size: 60px;
		font-weight: 600;
		letter-spacing: 3px;
	}

	.quotes{
		width:100%;
		position: absolute;
		text-align: left;
		bottom: 15%;
		color: #fff;
		font-size: 20px;
		font-weight: 500;
		transform: translate(48%, 120%);
	}

	.quotes h2{
		font-size: 30px;
		margin-top: 10px;
		font-weight: 500;
	}

	.typeAuto h1{
		font-size: 40px;
		font-weight: 600;
		letter-spacing: 3px;
		position: absolute;
		bottom: 10%;
		left: 7%;
		background: linear-gradient(to right, #f178b5, #1f99d0);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.btn{
		background: #ffb8d7;
		padding: 10px 60px;
		border: 0;
		cursor: pointer;
		border-radius: 5px;
	}
	.popUp{
		width: 400px;
		background: linear-gradient(to right, #f178b5, #1f99d0);
		border-radius: 6px;
		position: absolute;
		top: 0%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0.1);
		text-align: center;
		padding: 0 30px 30px;
		color: #fff;
		visibility: hidden;
		transition: transform 0.4s, top 0.4s;
	}

	.open-popUp{
		visibility: visibile;
		top: 50%;
		transform: translate(-50%, -50%) scale(1);
	}

	.popUp img{
		width: 100px;
		margin-top: -50px;	
	}

	.popUp h2{
		font-size: 38px;
		font-weight: 500;
		margin: 30px 0 10px;
	}

	.popUp button{
		width: 100%;
		margin-top: 50px;
		padding: 10px 0;
		background: linear-gradient(to right, #ffb8d7, #3068c6);
		color: #fff;
		border: 0;
		outline: none;
		font-size: 18px;
		border-radius: 4px;
		cursor: pointer;
		box-shadow: 0 5px 5px rgba(0,0,0,0.2);
	
	}
